.clients {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0 15px;
  @include tablet {
    margin: 0;
  }
  @include desktop {
    width: 100%;
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    margin: 0 auto;
  }
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border-radius: 4px;
    border: 1px solid #afb1b8;
    background-color: transparent;
    fill: #afb1b8;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      fill: $text-color-light-secondary;
      border-color: $text-color-light-secondary;
    }
    @include tablet {
      width: 226px;
      flex-direction: row;
      flex-wrap: wrap;
    }
    @include desktop {
      width: 170px;
    }
  }
}
