.header {
  border: 1px solid #ececec;
  &__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__menu-primary {
    @extend.header__navigation;
    gap: 46px;
  }
  &__menu-secondary {
    @extend.header__navigation;
    gap: 50px;
  }
  &__menu-secondary-contact {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: $text-color-dark-primary;
    fill: $text-color-dark-primary;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: $text-color-light-secondary;
      fill: $text-color-light-secondary;
    }
  }
  &__menu-primary-link {
    @extend.header__menu-secondary-contact;
    position: relative;
    color: $text-color-dark-secondary;
    &:hover,
    &:focus {
      color: $text-color-light-secondary;
      fill: $text-color-light-secondary;
    }
  }
  &__menu-primary li {
    position: relative;
  }
}
