.main-primary__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  letter-spacing: 0.06em;
  color: $text-color-light-primary;
  text-transform: uppercase;
  margin-bottom: 30px;
  padding-top: 200px;
}
