.menu-container.is-open {
  transform: translateX(0);
}
.menu-container {
  position: fixed;
  inset: 0;
  padding: 32px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateX(100%);
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  @include tablet {
    display: none;
  }
}
