.team {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    max-width: 768px;
  }
  @include desktop {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    column-gap: 30px;
  }

  &__item {
    width: 450px;
    margin: 30px 15px;
    background: $bg-color-primary;
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    @include tablet {
      display: flex;
      flex-wrap: wrap;
      max-width: 768px;
      width: 354px;
    }
    @include desktop {
      max-width: 1200px;
      margin: 0;
      width: 270px;
    }
  }
  &__name {
    font-weight: 500;
    line-height: 1.19;
    color: $text-color-dark-secondary;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  &__position {
    line-height: 1.19;
    color: $text-color-dark-primary;
  }
  &__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    margin-top: 16px;
    padding-bottom: 30px;
  }
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: transparent;
    fill: #afb1b8;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      fill: $text-color-light-primary;
      background-color: $bg-color-light;
    }
  }
}
