$text-color-light-primary: #ffffff;
$text-color-light-secondary: #2196f3;
$text-color-dark-primary: #757575;
$text-color-dark-secondary: #212121;
$bg-color-primary: #ffffff;
$bg-color-light: #2196f3;
$bg-color-dark: #2f303a;

$font-primary: "Roboto", sans-serif;
$font-secondary: "Raleway", sans-serif;
